<main class="container mt-5">
	<div class="row">
		<div class="col">

			<h2>Edit User</h2>
			<form
				action="/dashboard/edit_user/{{user.user_id}}"
				method="POST"
				enctype="multipart/form-data"
				id="edit_user_form"
			>
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input
						type="text"
						class="form-control"
						id="name"
						name="name"
						value="{{user.name}}"
						required
					/>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">E-Mail</label>
					<input
						type="text"
						class="form-control"
						id="email"
						name="email"
						value="{{user.email}}"
						required
					/>
				</div>

				{{!-- <div class="mb-3">
			<label for="user_id" class="form-label">Author</label>
			<select
				class="form-select"
				id="user_id"
				name="user_id"
				form="edit_user_form"
				required
			>
				{{#each authors}}
					<option value="{{this.user_id}}" {{#if (userIsAuthor this.user_id)}}selected{{/if}} >{{this.name}}</option>
				{{/each}}

			</select>
		</div> --}}
				<div class="mb-3">
					<label for="avatar" class="form-label">Avatar</label>
					<input
						class="form-control"
						type="file"
						id="avatar"
						name="avatar"
					/>
					<img
						src="{{user.avatar_url}}"
						class="img-fluid rounded mb-2 mt-2"
					/>
				</div>
				<button type="submit" class="btn btn-primary">Save Changes</button>
			</form>

		</div>
        <div class="col"></div>
	</div>
</main>