<main class="container mt-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
			<li class="breadcrumb-item active" aria-current="page">Edit users</li>
		</ol>
	</nav>
	<h2 class="mb-3">Users</h2>
	<div class="mb-3">
		<a href="/register" class="btn btn-success">New User</a>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">E-mail</th>
					<th scope="col">TOTP</th>
					<th scope="col">Groups</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr>
						<th scope="row">{{this.user_id}}</th>
						<td>{{this.name}}</td>
						<td>{{this.email}}</td>
						<td>
							{{#if this.totp_secret}}
								enabled
							{{/if}}
						</td>
						<td>
							{{#each this.user_group_member}}
								<span
									class="badge text-bg-secondary"
								>{{this.user_group.name}}</span>
							{{/each}}
						</td>
						<td>
							<a
								href="/dashboard/edit_user/{{this.user_id}}"
								class="btn btn-warning btn-sm"
							>Edit</a>
							<a
								href="/dashboard/delete_user/{{this.user_id}}"
								class="btn btn-danger btn-sm"
							>Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</main>