<main class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
		</ol>
	</nav>
	<div class="row">
		<div class="col">
			<article>
				{{#if article.image_url}}
					<img
						src="{{article.image_url}}"
						class="img-fluid rounded mb-2 article_thumbnail"
					/>
				{{/if}}
				<h2>{{article.title}}</h2>
				<p class="article_content">{{article.content}}</p>
			</article>
		</div>
		<div class="col">
			<p class="fst-italic">{{convertDateForArticle article.created_at}}</p>
			<p>by {{article.users.name}}</p>
			{{#each article.article_tag}}
				<span
					class="badge my-tag"
					style="background-color: {{this.tag.color}}"
				>{{this.tag.name}}</span>
			{{/each}}
		</div>
	</div>
</main>