<main class="container">
	<div class="row">
		<div class="col">
			{{#each articles}}
				<article>
					<a
						href="/article/{{this.article_id}}"
						class="link-body-emphasis link-underline-opacity-0"
					>
						{{#if (renderThumbnails this.image_url)}}
						
							<img
								src="{{this.image_url}}"
								class="img-fluid rounded mb-2 article_thumbnail"
							/>
				
						{{/if}}
						<h2>{{this.title}}</h2>
					</a>
					{{#each this.article_tag}}
						<span class="badge my-tag" style="background-color: {{this.tag.color}}">{{this.tag.name}}</span>
					{{/each}}
					<a
						href="/article/{{this.article_id}}"
						class="link-dark link-underline-opacity-0"
					><p class="article_content article_clamp">{{this.content}}</p></a>
					<p class="fst-italic">{{convertDateForArticle this.created_at}}
						by
						{{this.users.name}}</p>

				</article>
			{{/each}}
		</div>
		<div class="col">
			{{#each tags}}
				<span class="badge my-tag" style="background-color: {{this.color}}">{{this.name}}</span>
			{{/each}}
		</div>
	</div>
</main>